extends ../layout

block content
  .page-header
    h1 My Scrapes

  if scrapes
    table#trackedItems.table.table-track-items.table-hover
      thead
        tr
          th Name
          th Status
          th Current Price
          th Target Price
          th Edit
      tbody
        each scrape in scrapes
          tr(data-item-id=scrape._id)
            td
              a(href=scrape.url)= shorten(scrape.name, 40)
            td= prettyTrackStatus(scrape)
            td= scrape.data
            td= scrape.alert.comparator
            td
              a.btn.btn-collapse.pencil-btn-icon-only.btn-pencil.js-edit-scrape
                i.fa.fa-pencil
              a.btn.btn-danger.btn-link.trash-btn-icon-only.bth-trash.js-delete-scrape
                i.fa.fa-trash